@model IEnumerable<Woo.Models.Seller>

@{
    ViewData["Title"] = "SelectSeller";
}

<h1>SelectSeller</h1>

<form action="" method="get">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SellerNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact1)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellerNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Address1)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Contact1)
                    </td>

                    <td>
                        <a asp-action="Order" asp-route-id="@item.SellerId">Select</a> |

                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>