@model IEnumerable<Woo.Models.Resp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RespNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysComment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RespNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysComment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
