@model Woo.Models.Item
@{
    ViewData["Title"] = "Item Details";
}
<p class="h2 text-center font-weight-bold pt-lg-5">@ViewData["Title"]</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysComment)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
